@media only screen and (min-width: 1200px) {
    /* .slides{
        max-width: 30% !important;
        display: table;
        margin: auto;
    } */
    /* .centering{
        position: fixed;
        top: 50%;
        z-index: 10;
    } */
    

}